:root{
  --primary: rgb(20, 20, 20);
  --secondary: rgb(78, 78, 78);
  --light: rgb(243, 243, 243);

  --primary-text: black;
  --secondary-text: rgb(54, 54, 54);
}

#root header.top-bar,
header.MuiAppBar-colorPrimary,
button.MuiButton-containedPrimary{
  background: var(--primary);
}

.show-card .tag{
  background: var(--secondary);
}

svg.MuiSvgIcon-fontSizeLarge{
  color: var(--primary-text);
}

#add-project{
  border: 2px solid var(--light);
}

#nav-tabpanel-0, #nav-tabpanel-1{
  background-color: white;
}

.App,
span.PrivateTabIndicator-colorSecondary-3{
  background-color: var(--light);
}