:root{
  --primary: rgb(46, 196, 182);
  --secondary: rgb(250, 156, 5);
  --light: rgb(243, 243, 243);

  --primary-text: black;
  --secondary-text: rgb(54, 54, 54);

  --project-collab: rgb(46, 196, 182);
  --project-me: rgb(250, 156, 5);
}


#root header.top-bar,
header.MuiAppBar-colorPrimary,
button.MuiButton-containedPrimary,
button.MuiButton-containedPrimary:hover,
button.MuiFab-primary,
button.MuiFab-primary:hover{
  background: var(--primary);
}

span.MuiCheckbox-colorPrimary.Mui-checked{
  color: var(--primary);
}

div.MuiInput-underline:after{
  border-bottom: 2px solid var(--primary);
}

.show-card .tag,
div.MuiChip-colorPrimary{
  background: var(--secondary);
}

a svg.MuiSvgIcon-fontSizeLarge,
label.MuiFormLabel-root.Mui-focused{
  color: var(--primary-text);
}

a{
  color: var(--secondary-text);
}

#add-project{
  border: 2px solid var(--light);
}

#nav-tabpanel-0, #nav-tabpanel-1{
  background-color: white;
}

svg.MuiSvgIcon-fontSizeLarge{
  color: white;
}

.App,
#viewme,
#view-profile,
span.PrivateTabIndicator-colorSecondary-3, 
span.MuiTabs-indicator{
  background-color: var(--light);
}

.collab{
  border-color: var(--project-collab);
} 

.me{
  border-color: var(--project-me);
}